IndexOptions FancyIndexing SuppressDescription SuppressLastModified SuppressSize
IndexIgnore *

AddDefaultCharset UTF-8

RewriteEngine On
RewriteBase /xnova-legacies/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d






